# expected package manager version
package-manager=npm@10.9.2

# save exact versions (no ^ or ~ in dependencies)
save-exact=true

# generate package-lock.json
package-lock=true

# prefer latest metadata, helps avoid stale caches
prefer-online=true

# avoid installing optional deps to keep things clean in CI
# https://docs.npmjs.com/cli/v10/commands/npm-install#optional
optional=false